.titleContact{
    font-size: 50px;
    margin-top: 25px;
    text-align: center;
}

.formContact{
    width: 700px;
    margin: auto;
}

.formControls{
    width: 100%;
    margin-top: 50px;
    height: 40px;
}

.formContact textarea{
    height: 100px;
}

.formButton{
    width: 100%;
    background-color: darkorange;
    padding: 25px;
    color: white;
    border-style: none;
    border-radius: 25px;
    margin-top: 25px;
}